body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 1.5;
  padding: 0;
  background-color: #121212;
}

/* global */
.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

ul {
  margin: 0;
  padding: 0;
}
/* header */
header {
  background: #bb86fc;
  color: white;
  padding-top: 30px;
  min-height: 70px;
  border-bottom: #3700b3 5px solid;
}

header a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
}

header li {
  float: left;
  display: inline;
  padding: 0 20px 0 20px;
}

header #title {
  float: left;
}

header #title h1 {
  margin: 0;
}

header nav {
  float: right;
  margin-top: 10px;
}
header .highlight,
header .current a {
  color: #3700b3;
  font-weight: bold;
}
header .current hover{
    color: lightslategrey;
}

/* boxes */
.profile-image-container{
    text-align:center
}
img{
    margin-top: 30px;
    margin-left:auto;
    margin-right: auto;
    width: 50%;
    height: 50%;
    object-fit: cover;
    display: block;
}
#about-box {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  width: 50%;
  padding: 10px;
  text-align: center;
  border: #3700b3 5px solid;
}
#about-box h2 {
  color: white;
}
#about-box p {
  color: white;
}
#about-box-2 {
  margin-left: auto;
  margin-right: auto;
  border: #3700b3 5px solid;
  margin-top: 10px;
  width: 50%;
  padding: 10px;
  text-align: center;
  margin-bottom: 20px;
}
#about-box-2 h2 {
  color: white;
}
#about-box-2 p {
  color: white;
}

.column {
  width: 50%;
  float: left;
}
.column h2 {
  color: #3700b3;
  text-align: center;
  padding-top: 10px;
}
.column p {
  color: white;
  text-align: center;
  padding: 0 20px 0 20px;
}

.column li{
    color: white;
    text-align: center;
}
footer {
  padding: 10px;
  margin-top: 20px;
  color: white;
  background-color: #bb86fc;
  text-align: center;
}
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}
