<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <div class = "jumbotron">
            <h4 class = "display-4 text-center">Thank You So Much For Using SC Grocery Shopping!</h4>
            <h5 class = "display-5 text-center">By ordering with us, we  are helping <b>you</b> 
                and you are giving back to your <b>community</b>!</h5>
                <br>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-md-6">
                            <div class="col-md-12">                                
                                <h6 class = "text-center" >Your Order Details: </h6>
                                <p>- Registered Name: Test User</p>
                                <p>- Registered E-Mail: testemail@gmail.com</p>
                                <p>- Registered Phone Number: <br>(123)456-7890</p>
                                <p>- Delivery Address: 1234 Example Ave.</p>
                                <p>- Delivery Date: 1/23/21</p>
                                <p>- Store Location: Supermarket X</p>
                                <h6 class = "text-center" >Your Ordered Products: </h6>
                                <ul>
                                    <li>Example Item</li>
                                    <li>Example Item 1</li>
                                    <li>Example Item 2</li>
                                    <li>Example Item 3</li>
                                    <li>Example Item 4</li>
                                </ul>

                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </body>
</html>
