<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <div class = "jumbotron">
        <h2 class="display-4 text-center">South Central Grocery Shopping</h2>
        <h4 class = "text-center"><b>Register Here!</b></h4>
        <form>
            <div class="mb-3">
                <label class="form-label">First Name: </label>
                <input name = 'fName'[(ngModel)] = 'firstName' type="name" class="form-control" id="fName">

            </div>
            <div class="mb-3">
                <label class="form-label">Last Name: </label>
                <input name = 'lName' [(ngModel)] = 'lastName' type="name" class="form-control" id="lName">
            </div>
            <div class="mb-3">
                <label class="form-label">Enter A Valid Email Address</label>
                <input name = 'uEmail' type="email" [(ngModel)] = 'userEmail'class="form-control" id="userEmail" aria-describedby="emailHelp">
                <div id="emailHelp" class="form-text">P.S Dont Worry. We' ll keep your email private.</div>
            </div>
            <div class="mb-3">
                <label class="form-label">Enter Your Phone Number: </label>
                <input name = 'uPhone' type="text" [(ngModel)] = 'userPhone' class="form-control" id="userPhone" placeholder = "Example: (323)123-4567">
            </div>
            <div class ='text-center'>
            <button  type="button" class="btn btn-dark btn-m " (click)="goToHome()">Register</button>
            </div>
        </form>
        </div>
    </body>
</html>