<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <div class = "jumbotron">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="col-md-12">
                        <h4>Why Do We Do It?</h4>
                        <p>Here at SC Grocery Shopping we believe that the
                            best way of giving to our community is by involving it. 
                            The people of South Central are some of the hard working 
                            and dediacted people in all of Los Angeles. At SC Grocery shopping,
                            we aim to use tehse characteristics to help out those on our community who need. By
                            relying mostly and teenage volunteerism and student interniships, we
                            help make fresh foods accesible to our citizens and involve our <b>youth</b>
                            while doing so.
                        </p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="col-md-12 ">
                            <img id = "south-central" src = '../assets/south-central.jpg'>
                        </div>
                    </div>
                    <img id= "south-central-kids" src = '../assets/south-central-kids.jpg'>
                </div>
            </div>
        </div>
    </body>
</html>
