body{
    background-color:bisque;
}

.jumbotron {
    color:rgb(177, 19, 19);
    background-color: white;
    background-image: url("../assets/math-operators.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 -150px;
    border: 10px;
    border-color: black;
    border-style: solid;
    overflow: auto;
}
.display-3 {
    font-weight:900;
}
.col-md-12{
    background-color: rgb(182, 151, 114);
    border:black 10px solid;
    border-radius: 15px;
    padding: 10px;
}
.input-group{
    margin-top: 10px;
}