.jumbotron {
    background-color: rgb(75, 162, 216);
    background-image: url('../assets/code-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.display-4 {
    font-weight: 500;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.display-5 {
    font-weight: 400;
}

#register-here {
    margin-top: 10px;
}

#txt-logo {
    margin-top: 10px;
    margin-bottom: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#txt-teens {
    border: 10px rgb(59, 55, 55) solid;
    border-radius: 15px;
    margin-bottom: 10px;
    margin-top: 12px;
}

#me-txt {
    border: 10px rgb(59, 55, 55) solid;
    border-radius: 15px;
}

#txt-teens-2 {
    border: 10px rgb(59, 55, 55) solid;
    border-radius: 15px;
    margin-top: 5px;
}

.modal-title {
    color: black;
}

.modal-content {
    background-color: lightskyblue;
}

.modal-body {
    background-color: rgb(43, 116, 161);
}

.form-label {
    color: black;
    font-weight: bold;
}

footer {
    padding: 10px;
    margin-top: 10px;
    color: black;
    background-color: lightsteelblue;
    text-align: center;
}