<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <ul *ngFor = "let j of journals.slice().reverse()">
        <div class="card mr-5 mt-4 mb-4">
            <h3 class="card-header">{{j.title}} <img id = "journal-icon" src = "../../favicon.ico"></h3>
            <div class="card-body">
              <p class="card-text">{{j.content}}</p>
              <h5>Author: {{j.author}}</h5>
            </div>
        </div>
        </ul>
    </body>
</html>